In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("job_descriptions.csv")

In [3]:
df.columns

Index(['Job Id', 'Experience', 'Qualifications', 'Salary Range', 'location',
       'Country', 'latitude', 'longitude', 'Work Type', 'Company Size',
       'Job Posting Date', 'Preference', 'Contact Person', 'Contact',
       'Job Title', 'Role', 'Job Portal', 'Job Description', 'Benefits',
       'skills', 'Responsibilities', 'Company', 'Company Profile'],
      dtype='object')

In [4]:
df.rename(columns={'Job Id':'Job_Id','Salary Range':'Salary_range','Work Type':'Work_Type','Company Size':'Company_Size',
                  'Job Posting Date':'Job_Posting_Date','Contact Person':'Contact_Person','Job Title':'Job_Title','Job Description':'Job_Description','Company Profile':'Company_Profile'},inplace=True)

In [5]:
df.isnull().sum()

Job_Id                 0
Experience             0
Qualifications         0
Salary_range           0
location               0
Country                0
latitude               0
longitude              0
Work_Type              0
Company_Size           0
Job_Posting_Date       0
Preference             0
Contact_Person         0
Contact                0
Job_Title              0
Role                   0
Job Portal             0
Job_Description        0
Benefits               0
skills                 0
Responsibilities       0
Company                0
Company_Profile     5478
dtype: int64

In [6]:
df.dropna(inplace=True)

In [7]:
df.drop_duplicates(inplace=True)

In [8]:
df.columns

Index(['Job_Id', 'Experience', 'Qualifications', 'Salary_range', 'location',
       'Country', 'latitude', 'longitude', 'Work_Type', 'Company_Size',
       'Job_Posting_Date', 'Preference', 'Contact_Person', 'Contact',
       'Job_Title', 'Role', 'Job Portal', 'Job_Description', 'Benefits',
       'skills', 'Responsibilities', 'Company', 'Company_Profile'],
      dtype='object')

In [9]:
print(df.loc[0:9, 'Company_Size'])

0     26801
1    100340
2     84525
3    129896
4     53944
5     23196
6     26119
7     40558
8    105343
9    102069
Name: Company_Size, dtype: int64

In [10]:
df = df[df['Company_Size'] <= 50000]

In [11]:
df.reset_index(drop=True, inplace=True)

In [12]:
print(df.loc[0:20, 'Company_Size'])

0     26801
1     23196
2     26119
3     40558
4     49100
5     29318
6     48199
7     40723
8     28043
9     38044
10    27725
11    35273
12    29884
13    47107
14    43665
15    43166
16    21827
17    25713
18    14771
19    48875
20    18334
Name: Company_Size, dtype: int64

In [38]:
df.head()

,Job_Id,Experience,Qualifications,Salary_range,location,Country,latitude,longitude,Work_Type,Company_Size,...,Contact,Job_Title,Role,Job Portal,Job_Description,Benefits,skills,Responsibilities,Company,Company_Profile
0,1089843540111562,5 to 15 Years,M.Tech,$59K-$99K,Douglas,Isle of Man,54.2361,-4.5481,Intern,26801,...,001-381-930-7517x737,Digital Marketing Specialist,Social Media Manager,Snagajob,Social Media Managers oversee an organizations...,"{'Flexible Spending Accounts (FSAs), Relocatio...","Social media platforms (e.g., Facebook, Twitte...","Manage and grow social media accounts, create ...",Icahn Enterprises,"{""Sector"":""Diversified"",""Industry"":""Diversifie..."
1,116831420231957,4 to 12 Years,MCA,$59K-$93K,Brussels,Belgium,50.5039,4.4699,Full-Time,23196,...,(973)791-5355x52199,Software Tester,Quality Assurance Analyst,Snagajob,A Quality Assurance Analyst tests software and...,"{'Life and Disability Insurance, Stock Options...",Quality assurance processes Testing methodolog...,Test software applications and systems to iden...,Adani Ports and Special Economic Zone,"{""Sector"":""Infrastructure"",""Industry"":""Ports a..."
2,1292168246729889,3 to 15 Years,PhD,$63K-$103K,George Town,Cayman Islands,19.3133,-81.2546,Temporary,26119,...,001-268-510-4362x789,Teacher,Classroom Teacher,FlexJobs,A Classroom Teacher educates students in a spe...,"{'Flexible Spending Accounts (FSAs), Relocatio...",Teaching pedagogy Classroom management Curricu...,"Plan and deliver engaging lessons, adapting te...",FedEx,"{""Sector"":""Logistics"",""Industry"":""Mail, Packag..."
3,1498778686197107,2 to 8 Years,M.Com,$65K-$102K,SÃ£o TomÃ©,Sao Tome and Principe,0.1864,6.6131,Contract,40558,...,667.202.6824x15893,UX/UI Designer,User Interface Designer,Indeed,User Interface Designers focus on the visual a...,"{'Employee Assistance Programs (EAP), Tuition ...",UI design principles and best practices Graphi...,Create visually appealing user interfaces (UI)...,Ryder System,"{""Sector"":""Transportation"",""Industry"":""Transpo..."
4,2823887164112482,5 to 14 Years,M.Tech,$60K-$83K,San Marino,San Marino,43.9424,12.4578,Part-Time,49100,...,(434)560-6482,Social Worker,School Social Worker,Glassdoor,Support students social and emotional well-bei...,"{'Health Insurance, Retirement Plans, Flexible...",School social work principles Student assessme...,Collaborate with schools to support students a...,Deere,"{""Sector"":""Industrial"",""Industry"":""Constructio..."

In [17]:
df.to_csv('task1_dataset.csv', index=False)

In [39]:
print(df.loc[0:9, 'Experience'])

0    5 to 15 Years
1    4 to 12 Years
2    3 to 15 Years
3     2 to 8 Years
4    5 to 14 Years
5    0 to 11 Years
6     5 to 9 Years
7     1 to 8 Years
8     3 to 9 Years
9    1 to 13 Years
Name: Experience, dtype: object

In [ ]:
data = {'Experience': ["0 to 8 Years","0 to 9 Years","0 to 10 Years","0 to 11 Years","0 to 12 Years","0 to 13 Years",
                       "0 to 14 Years","0 to 15 Years","1 to 8 Years","1 to 9 Years","1 to 10 Years","1 to 11 Years",
                      "1 to 12 Years","1 to 13 Years","1 to 14 Years","1 to 15 Years","2 to 8 Years","2 to 9 Years",
                      "2 to 10 Years","2 to 11 Years","2 to 12 Years"]}